.factDetails{
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 30px;
}
.fact_Id{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.Waiting{
    color: white;
    padding: 30px;
}
